<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion">

    <a class="sidebar-brand" style="display: flex; align-items: center; justify-content: center;" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div style="margin-left: 1rem; margin-right: 1rem;">RESTAURANT MANAGER</div>
    </a>
    <i class="fa fa-5x fa-cutlery" style="text-align: center; padding: 10px;"></i>

    <hr class="sidebar-divider my-0">

    <li class="options sidebar-heading">
        <a routerLink="homepage/menu">
            <i class="fa fa-file-text" style="padding: 5px;"></i>
            <span>Menu</span>
        </a>
    </li>

    <hr class="sidebar-divider">

    <li class="options">
        <a routerLink="homepage/orders">
            <i class="fa fa-fw fa-money" style="padding: 5px;"></i>
            <span>Orders</span>
        </a>
    </li>

    <hr class="sidebar-divider">

    <li class="options">
        <a routerLink="homepage/addOrder">
            <i class="fa fa-fw fa-plus-circle" ></i>
            <span>Add Order</span></a>
    </li>

    <hr class="sidebar-divider">

    <li class="options">
        <a routerLink="homepage/addItem">
            <i class="fa fa-fw fa-plus-circle" ></i>
            <span>Add New Item</span></a>
    </li>
    
</ul>